@import 'items.less';
.section-page-padding {
    padding: 8rem 0 !important;
}
.btn {
    &.button-dark {
        &:not(:hover) {
            background-color: #151516;
            border-color: #151516;
        }
    }
    &.button-dark-att {
        &:not(:hover) {
            background-color: #0047BB;
            border-color: #0047BB;
        }
    }
}
.list-marker {
    li {
        padding-left: 1.4em;
        position: relative;
        &:before {
            content: "";
            width: 0.3em;
            height: 0.3em;
            border-radius: 50%;
            background: currentColor;
            position: absolute;
            top: 0.7em;
            left: 0.5em;
            margin-top: -0.15em;
        }
    }
}
.main-news-box {
    &.section-light {
        background-color: transparent;
        .item-tile-new {
            border: 1px solid #C9CBCE;
            box-shadow: none;
        }
    }
}
.main-actions-qr-wrap {
    &.actions-small {
        .action-button+.action-button {
            margin-right: 1.2rem;
        }
        .btn-action-app {
            width: 145px;
        }
        .btn-action-qr {
            width: 80px;
            height: 80px;
        }
        .action-qr {
            .action-title {
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
    &.actions-medium {
        .action-button+.action-button {
            margin-right: 1.2rem;
        }
        .btn-action-app {
            width: 174px;
        }
        .btn-action-qr {
            width: 80px;
            height: 80px;
        }
        .action-qr {
            .action-title {
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
}
.main-apps-info-box {
    padding: 8rem 0;
    .box-inner-wrap {
        display: block;
        position: relative;
        padding: 6.4rem 10rem;
        border-radius: 3.2rem;
        background: #F0F2F6;
        text-align: center;
    }
    .main-title-wrap {
        margin-bottom: 3.2rem;
    }
    .main-actions-qr-wrap {
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 16px;
        &.actions-small {
            .btn-action-app {
                width: 174px;
            }
        }
        .action-qr {
            padding: 0 2rem 0 3.2rem;
            margin-right: 3.2rem;
            position: relative;
            &:before, &:after {
                content: "";
                display: block;
                position: absolute;
                left: 0;
                top: 50%;
                width: 1px;
                height: 6.4rem;
                margin-top: -3.2rem;
                background: #DDDFE3;
            }
            &:after {
                left: auto;
                right: 0;
            }
        }
    }
}
.tiles-about-box {
    &.section-money {
        padding: 8rem 0;
        .main-title-wrap {
            line-height: 1.5;
            font-weight: 400;
            margin-bottom: 4.8rem;
            .h3-title, .h2-title {
                margin-bottom: 16px;
            }
        }
        .main-buttons-wrap {
            margin-top: 4.8rem;
            margin-bottom: -10px;
        }
    }
}
.main-top-box {
    &.section-bg-dark {
        background: radial-gradient(210.33% 70.66% at 50% 50.07%, rgba(0, 71, 187, 0.20) 0%, rgba(1, 33, 105, 0.00) 100%), #151516;
        color: #fff;
        .h1-title, .h2-title, .h3-title, .main-title {
            color: inherit;
        }
        .btn-action-more {
            color: #fff;
            &:before {
                filter: brightness(0) invert(1);
            }
        }
    }
    &.section-page, &.section-card {
        .inner-wrap {
            padding-top: 8rem;
            padding-bottom: 8rem;
        }
        .info-inner-wrap {
            line-height: 1.5;
        }
        .photo-inner-wrap {
            width: 56rem;
            max-width: 100%;
        }
        .title-wrap {
            margin-bottom: 3rem;
        }
        .h2-title, .h3-title {
            line-height: (76/64);
            margin-bottom: 16px;
        }
        p {
            max-width: (560/24em);
        }
        .info-text {
            padding-right: 3rem;
        }
        .page-subtitle {
            font-size: 1em;
            font-weight: 500;
            color: var(--clr-att);
            margin: 0 0 8px 0;
        }
    }
    &.section-card {
        .info-inner-wrap {
            margin-bottom: 0;
        }
    }
    &.section-text, &.section-text.section-page {
        .inner-wrap {
            display: block;
        }
        .title-wrap {
            &:last-child {
                margin-bottom: 0;
            }
            p {
                max-width: (840/24em);
                margin-bottom: 2.4rem;
            }
        }
        .photo-inner-wrap {
            display: none;
        }
        .info-inner-wrap {
            padding-left: 0;
            padding-right: 0;
            margin: 0;
            width: 100%;
            max-width: 100%;
        }
    }
    .buttons-wrap {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -8px -8px 0;
        .btn {
            margin: 0 8px 8px 0;
            flex-shrink: 0;
            height: 5.2rem;
            padding: 0 15px;
            font-size: 2rem;
            min-width: 0;
            border-radius: 1.6rem;
        }
    }
    .photo-text-wrap {
        margin: 0 auto;
        position: relative;
        border-radius: 3.2rem;
        padding: 4.8rem;
        background: #F0F2F6;
        text-align: left;
        font-weight: 400;
        line-height: (36/24);
        color: #000;
        min-height: 56rem;
        .photo-text-image {
            width: 70%;
            max-width: 28.4rem;
            margin: 0 auto 4rem auto;
            padding-top: 2rem;
            img, svg {
                display: block;
                width: 100%;
            }
        }
        .photo-text-title {
            font-size: 4.8rem;
            font-weight: 600;
            margin: 0 0 3.2rem 0;
            letter-spacing: -0.96px;
            line-height: 1.2;
            &.title-large {
                font-size: 5.6rem;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
@media (max-width: 639px) {
    .main-top-box {
        &.section-page {
        }
        .list-marker {
            li {
                padding: 0;
                &:before {
                    display: none;
                }
            }
        }
        .photo-text-wrap {
            padding: 2.4rem;
            .photo-text-title {
                font-size: 3.6rem;
            }
        }
    }
}
@media (min-width: 640px) {
    .main-top-box {
        &.section-reverse {
            .inner-wrap {
                justify-content: flex-end;
                flex-direction: row-reverse;
            }
        }
        &.section-page, &.section-card {
            .photo-inner-wrap {
                max-width: 50%;
            }
            .info-inner-wrap {
                &.text-padding {
                    padding-right: 6.4rem;
                }
            }
            &.section-reverse {
                .info-inner-wrap {
                    &.text-padding {
                        padding-right: 0;
                        padding-left: 6.4rem;
                    }
                }
            }
        }
        &.section-card {
            &.section-reverse {
                .inner-wrap {
                    flex-direction: row;
                }
            }
            .inner-wrap {
                flex-direction: row-reverse;
            }
        }
    }
}
@media (min-width: 768px) {
    .main-apps-info-box {
        
    }
}
@media (min-width: 1024px) {
    .main-buttons-wrap {
        &.buttons-small {
            .btn-action-app {
                width: 174px;
            }
        }
    }
    .main-top-box {
        &.section-page {
            .info-inner-wrap {
                max-width: 625px;
            }
        }
    }
    
}
@media (min-width: 1400px) {

    .main-top-box {
        &.section-page {
            .info-text {
                padding-right: 6.4rem;
            }
        }
        &.section-card  {
            &.section-reverse {
                .photo-inner-wrap {
                    margin-left: 0;
                    margin-right: 5rem;
                }
                .info-inner-wrap {
                    padding-right: 6.4rem;
                    padding-left: 0;
                }
            }
        }
        &.section-reverse  {
            .info-inner-wrap {
                padding-left: 6.4rem;
            }
        }
    }
}